@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700;900&display=swap');

$fgColor: white;
$bgColor: #2b2e2e;
$accent: #24edff;

html,
body {
  font-family: 'Fira Sans', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: white;
  background-color: $bgColor;
}

#webmap {
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
  background-color: black;
}

#ListOfMaps {
  padding-top: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;

  h1 {
    margin: 0;
    font-weight: 900;
  }

  a {
    color: white;
    text-decoration: underline;
    font-size: 1.5em;

    &:hover {
      color: rgba(255, 255, 255, 0.4);
    }
  }
}

.leaflet-container {
  font-family: 'Fira Sans', sans-serif !important;
}

.UnderlayLayer {
  filter: brightness(0.25);
}

.leaflet-bar a {
  border: none !important;
}

.leaflet-control-layers-toggle {
  border-radius: 2px !important;
}

.leaflet-control {
  border: 2px solid #484c4c !important;
  color: $fgColor !important;
  background-color: $bgColor !important;

  * {
    color: $fgColor !important;
    background-color: $bgColor !important;
  }

  &-attribution {
    border: none !important;
    border-radius: 2px 0 0 0;

    a {
      color: $accent !important;
    }
  }
}

.leaflet-disabled {
  color: darken($color: $fgColor, $amount: 50) !important;
}
